@model WebProyecto.Entities.DireccionEnt
@{
    ViewBag.Title = "ActualizarDireccion";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -50px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg'); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> Actualizar Direccion </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section element-animate">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">


                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                @using (Html.BeginForm("ActualizarDireccion", "Direccion", FormMethod.Post, new { @class = "pt-3" }))
                {
                    @Html.HiddenFor(m => m.IdDireccion)

                    <div class="form-group">
                        <label for="exampleInputEmail3">Calle</label>
                        @Html.TextBoxFor(m => m.Calle, new { @class = "form-control form-control-lg", @placeholder = "Calle", @type = "text" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">CodPostal</label>
                        @Html.TextBoxFor(m => m.CodPostal, new { @class = "form-control form-control-lg", @placeholder = "CodPostal", @type = "text" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Otras Señas</label>
                        @Html.TextBoxFor(m => m.OtraSena, new { @class = "form-control form-control-lg", @placeholder = "Otras Señas", @type = "text" })
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Procesar</button>
                }
            </div>
        </div>
    </div>
</section>
<script src="~/FuncionesSite/ConsultaNombres.js"></script>