@model IEnumerable<WebProyecto.Entities.DireccionEnt>


@{
    ViewBag.Title = "VerDirecciones";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -50px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg'); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>Direccion de los Usuarios</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section element-animate">

    <div class="col-md-12 text-center heading-wrap">

        <a href="@Url.Action("RegistrarDireccion", "Direccion")" class="btn btn-warning btn-block py-3">Registrar Direccion</a>

    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">


                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Calle</th>
                            <th>CodPostal</th>
                            <th>Otras Señas</th>
                            <th>Id del Usuario</th>
                            <th>Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Calle</td>
                                <td>@item.CodPostal</td>
                                <td>@item.OtraSena</td>
                                <td>@item.IdUsuario</td>

                                <td style="text-align:center">
                                    <a href="@Url.Action("ActualizarDireccion","Direccion", new { q = item.IdDireccion })"><i class="fa fa-user fa-lg"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

