<!doctype html>
<html lang="en">
<head>
    <title>Colorlib Fitnezz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Template/css/animate.css">
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Template/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/css/style.css">
</head>
<body>

    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Login")">Fitne<span>zz</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- boton de registro -->

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    </ul>
                    <ul class="navbar-nav ml-auto">
                    </ul>


                    <li class="nav-item">
                        <a class="nav-link" href="About.html">Acerca de nosotros</a>
                    </li>

                    @if (Session["IdUsuario"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios Admin</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="@Url.Action("ConsultaUsuarios","Usuario")">Consulta Usuario</a>
                                <a class="dropdown-item" href="@Url.Action("VerEstadisticas","Usuario")">Estadisticas Usuarios</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("VerEstadistica","Usuario")">Mis estadisticas</a>
                        </li>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item cta-btn">
                                <a class="nav-link" href="@Url.Action("PerfilUsuario","Usuario")">Perfil</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item cta-btn">
                                <a class="nav-link" href="@Url.Action("IniciarSesion","Login")">Iniciar sesión</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 mb-5">
                    <h3>Sobre nosotros</h3>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>

                <div class="col-md-5 mb-5">
                    <h3>Datos de contacto</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block">
                            <span class="d-block">Dirección:</span>
                            <span class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</span>
                        </li>
                        <li class="d-block"><span class="d-block">Teléfono:</span><span class="text-white">8888-8888</span></li>
                        <li class="d-block"><span class="d-block">Correo electrónico:</span><span class="text-white">lorem@ipsum.com</span></li>
                    </ul>
                </div>

                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-md-center text-left">
                    <p>
                        &copy;
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta plantilla está hecha con <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <br> Imágenes de demostración Unsplash
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>
    <script src="~/Template/js/jquery-3.2.1.min.js"></script>
    <script src="~/Template/js/popper.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/jquery.waypoints.min.js"></script>
    <script src="~/Template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/js/magnific-popup-options.js"></script>
    <script src="~/Template/js/main.js"></script>
</body>
</html>