@model IEnumerable<WebProyecto.Entities.FacturaEnt>


@{
    ViewBag.Title = "ConsultaFacturas";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}


<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -50px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg'); background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> Información de Facturas</h1>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section element-animate">
    <div class="col-md-12 text-center heading-wrap">

       

    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">


                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>Fecha</th>
                            <th>ID Factura</th>
                            <th>Id del Usuario</th>
                            <th>Total</th>
                            <th>Precio</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <th>@item.IdFactura</th>
                                <th>@item.Fecha</th>
                                <th>@item.Precio</th>
                                <th>@item.Total</th>
                               


                                <td style="text-align:center">
                                    <a href="@Url.Action("RegistrarClase", "Usuario")" class="btn btn-warning btn-block py-3">Registrar Nueva Clase</a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>